[submodule "Bundles/code-beautifier.tmbundle"]
	path = Bundles/code-beautifier.tmbundle
	url = https://github.com/mocoso/code-beautifier.tmbundle.git
[submodule "Themes/Baby-The-Code-Shines-Bright"]
	path = Themes/Baby-The-Code-Shines-Bright
	url = https://github.com/spacekat/Baby-The-Code-Shines-Bright.git
[submodule "Bundles/SCSS.tmbundle"]
	path = Bundles/SCSS.tmbundle
	url = https://github.com/kuroir/SCSS.tmbundle.git
[submodule "Bundles/Whitespace.tmbundle"]
	path = Bundles/Whitespace.tmbundle
	url = https://github.com/vigetlabs/whitespace-tmbundle.git
[submodule "Bundles/Lua.tmbundle"]
	path = Bundles/Lua.tmbundle
	url = https://github.com/textmate/lua.tmbundle.git
[submodule "Bundles/Ruby-Haml.tmbundle"]
	path = Bundles/Ruby-Haml.tmbundle
	url = https://github.com/mattpolito/ruby-haml.tmbundle.git
[submodule "Bundles/Ruby-Sass.tmbundle"]
	path = Bundles/Ruby-Sass.tmbundle
	url = https://github.com/charlesr/ruby-sass-tmbundle.git
